#external {
	color: green; font-size: 20px;
}

* {
	color: purple;
	font-size: 20px;
}

h1 {
	font-size: 50px;
}

#heading2 {
	text-transform: uppercase;
	font-size: 20px;
}
.languages {
	background-color: palegreen;
}

.tools {
	border-width: 2px;
	border-style: solid;
	border-color: pink;
}

img + ul {
	list-style-type: none;
}

#sec img {
	height: 150px;
	width: 150px;
	border-radius: 60px;
}

h4 ~ p {
	text-align: right;
}

body > section > ul > li {
	letter-spacing: 10px;
}